@font-face {
  font-family: 'font-1';
  src: url(../assets/fonts/Questrial-Regular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Michroma&display=swap');


$font-1: 'font-1', sans-serif;
$font-2: 'Michroma', serif;

$color-1: #fafcff;
$color-2: #00C1EC;
$color-3: #E7F7FE;
$color-4: rgb(141, 141, 141);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}
a, a:visited {
  color: $color-4;
}
body {
  font-family: $font-1;
  height: 100vh;
  background-color: $color-1;
  overflow: hidden;
}
.button {
  background: $color-3;
  height: 55px;
  width: 126px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: .2s;

  &:hover {
    letter-spacing: 1px;
    color: $color-2;
  }
}
